
<div class="container">

<div class="row justify-content-center">

    <app-product-list-item *ngFor="let product of products "
                          [product]="product"
                          class=" colonne col-xl-3 col-lg-4 col-md-6" > 
    </app-product-list-item>

</div>

</div>
  



































  <!-- 
<div class=" colonne col-lg-4 col-md-6">
  <div class="cardcontainer ">
    <div class="photo"> <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </div>
    <div class="content">
      <p class="txt4">City Lights In Newyork</p>
    </div>
    <div class="footer">
      <p><a class="waves-effect waves-light btn" href="#">Detail</a><a id="heart"><span class="like"><i
              class="fab fa-gratipay"></i>2000000 Ar</span></a></p>
      <p class="txt3"><i class="far fa-clock"></i>10 Minutes Ago</p>
    </div>
  </div>
</div>


<div class=" colonne col-lg-4 col-md-6">
  <div class="cardcontainer ">
    <div class="photo"> <img
        src="https://images.pexels.com/photos/2346006/pexels-photo-2346006.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500">
      <div class="photos">New</div>
    </div>
    <div class="content">
      <p class="txt4">City Lights In Newyork</p>
    </div>
    <div class="footer">
      <p><a class="waves-effect waves-light btn" href="#">Detail</a><a id="heart"><span class="like"><i
              class="fab fa-gratipay"></i>2000000 Ar</span></a></p>
      <p class="txt3"><i class="far fa-clock"></i>10 Minutes Ago</p>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6">
  <div class="cardcontainer ">
    <div class="photo"> <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <div class="photos">New</div>
    </div>
    <div class="content">
      <p class="txt4">City Lights In Newyork City Lights In Newyork</p>
    </div>
    <div class="footer">
      <p><a class="waves-effect waves-light btn" href="#">Detail</a><a id="heart"><span class="like"><i
              class="fab fa-gratipay"></i>2000000 Ar</span></a></p>
      <p class="txt3"><i class="far fa-clock"></i>10 Minutes Ago</p>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6">
  <div class="cardcontainer ">
    <div class="photo"> <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <div class="photos">New</div>
    </div>
    <div class="content">
      <p class="txt4">City Lights In Newyork</p>
    </div>
    <div class="footer">
      <p><a class="waves-effect waves-light btn" href="#">Detail</a><a id="heart"><span class="like"><i
              class="fab fa-gratipay"></i>2000000 Ar</span></a></p>
      <p class="txt3"><i class="far fa-clock"></i>10 Minutes Ago</p>
    </div>
  </div>
</div>

<div class=" col-lg-4 col-md-6">
  <div class="cardcontainer">
    <div class="photo"> <img
        src="https://images.pexels.com/photos/2346006/pexels-photo-2346006.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500">
        <div class="photos">New</div>
      </div>
    <div class="content">
      <p class="txt4">City Lights In Newyork</p>
    </div>
    <div class="footer">
      <p><a class="waves-effect waves-light btn" href="#">Detail</a><a id="heart"><span class="like"><i
              class="fab fa-gratipay"></i>2000000 Ar</span></a></p>
      <p class="txt3"><i class="far fa-clock"></i>10 Minutes Ago</p>
    </div>
  </div>

</div> -->








<!-- <mat-grid-list cols="3" rowHeight="400px">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
          <mat-card class="dashboard-card">
            <mat-card class="example-card">
  
              <a href="details"> <img mat-card-image  src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu"></a> 
                <mat-card-content>
                    <button mat-button color="warn">Dog Allemand</button>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary">Prix : 32 600Ar</button>
                  <button mat-button>Details</button>
                </mat-card-actions>
              </mat-card>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
  
 -->