
    <mat-grid-list cols="3" rowHeight="400px">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
          <mat-card class="dashboard-card">
            <mat-card class="example-card">
  
              <a href="details"> <img mat-card-image  src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu"></a> 
                <mat-card-content>
                    <button mat-button color="warn">Dog Allemand</button>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary">Prix : 32 600Ar</button>
                  <button mat-button>Details</button>
                </mat-card-actions>
              </mat-card>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
  

