

<!------ Include the above in your HEAD tag ---------->


<nav class="navbar navbar-expand-lg navbar-light bg-secondary ">
  <a class="navbar-brand" href="#">E-varotra</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link  " routerLinkActive="active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLinkActive="active" routerLink="/products" >Produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLinkActive="active" href="#">Top</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="admin/products/new" >Nouveau</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">categorie 1</a>
          <a class="dropdown-item" href="#">categorie 1</a>
          <a class="dropdown-item" href="#">categorie 1</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- 
<div style="background: url(https://i.postimg.cc/3N7wnb75/background.jpg)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">E-varotra boutique</h1>
        <p class="font-italic mb-0">Vente des outis et matériel informatique</p>
        <p class="font-italic">Snippe by
            <a href="https://bootstrapious.com" class="text-white"><u>Bootstrapious</u></a>
        </p>
        <a href="#" role="button" class="btn btn-primary px-5">See All Features</a>
    </div>
</div>  -->

