<app-header></app-header>

<div class="container body-container">


  <mat-sidenav-container class="sidenav-container">
    <!-- <mat-sidenav #drawer class="sidenav" 
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="products">Produits</a>
        <a mat-list-item routerLink="categories">Categories</a>
        <a mat-list-item routerLink="#">Apropos</a>
      </mat-nav-list>
    </mat-sidenav> -->
    <mat-sidenav-content class="main-content">
      <!-- <mat-toolbar class="bg-light">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span >Nearby Shop</span>
  
  
      </mat-toolbar> -->

      <main>

       <router-outlet></router-outlet>
    
      </main>
   
  
 
      <!-- Add Content Here -->
  
      
  
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>



