.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-content {

 background-color: rgb(235, 232, 232);
}

/* main{
  padding: 5%;

} */





/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/



@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

