<div class="cardcontainer">
  <div class="photo" routerLink="{{product.idProduct}}"> <img
      src="{{product.pictures[0]?.link}}">
  </div>
  <hr>
  <div class="content">
    <p class="txt4">{{product.nameProduct}}</p>
  </div>
  <hr>
  <div class="footer">
    <p><a class="waves-effect waves-light btn" href="#">Detail</a><a id="heart"><span class="like"><i
            class="fab fa-gratipay"></i>{{product.price}} Ar</span></a></p>
  </div>
</div>

<script>
  $(document).ready(function () {
    document.getElementById("heart").onclick = function () {
      document.querySelector(".fa-gratipay").style.color = "#E74C3C";
    };
  });
</script>

<!-- "https://images.pexels.com/photos/2346006/pexels-photo-2346006.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500" -->